/* 
0. Fonts Used
1. General Css
2. NavBar
3. Hero Section
4. About Me Section





*/

/***************************
*********The Fonts Used*****
***************************/


// font-family: 'Noto Sans HK', sans-serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Roboto Slab', serif;


/////////////////////////////////////
//////1. The General Css///////////////
///////////////////////////////////
body {
    margin: 0;
    padding: 0;
    position: relative;

}
a {
    text-decoration: none;
    color: inherit;    
}
h1 {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0;
}
p {
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 1.5em;

}
table {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
}
/////////////////////////////////////
//////2. NavBar/////////////////////
///////////////////////////////////
header.navbar {
    position: absolute;
    width: 100%;
    nav {
        width: 80%;
        margin: 0 auto;
        color:#41444B;
        font-size: 1.8em;
        font-family: 'Oswald', sans-serif;
        ul {
            right: 50px;
            padding-left: 30%;
            list-style-type: none;
            display: inline-block;
            .active{
                color: black;
            }
            li {
                padding-left: 100px;
                color: #757575;
                font-size: 0.8em;
                font-family: 'Roboto Slab', serif;
                display: inline-block;
            }
        }
    }
}
/////////////////////////////////////
//////3. Hero Section///////////////
///////////////////////////////////
section.hero{
    background-color: #F6F4E6;
    height: 100vh;
    .hero-content {
        display: grid;
        grid-template-areas: "main aside";
        max-width: 80%;
        margin: 0 auto;

        main {
            width: 100%;
            grid-area: main;
            padding-top: 100px;
            align-items: center;
            margin: 100px 0 0 100px;
            *{
                max-width: 60%;
            }
            h1 {
                font-size: 9em;
            }
            h3 {
                font-size: 2.5em;
                font-family: 'Roboto Slab', serif;
            }

            button {
                border: none;
                background-color: #FDDB3A;
                color: #41444B;
                padding: 20px 40px;
                border-radius: 50px;
                font-size: 1.7em;


            }

        }
        aside {
            grid-area: aside;
            padding-top: 100px;
            img {
                margin-top: 100px;
                height: 60%;
            }
        }
    }
}
/////////////////////////////////////
//////4. About Me Section///////////
///////////////////////////////////
section.about-me {
    height: 100vh;
    background-color: #fddb3a38;
    .about-me-content {
        display: grid;
        grid-template-areas: "aside main";
        margin: 0 auto;
        main {
            width: 85%;
            padding-top: 30%;
            grid-area: main;
            .text-about-me {
                h1 {
                    font-size: 7em;
                }
            }
            .contact {
                h3 {
                    font-family: 'Roboto Slab', serif;
                }
                ul {
                    list-style-type: none;
                    display: inline-block;
                    li {
                        display: inline-block;
                        img {
                            height: 50px;
                            width: 50px;
                        }
                    }
                }
            }
        }
        aside {
            grid-area: aside;
            margin-top: 20%;
        }
    }
}
