/* 
0. Fonts Used
1. General Css
2. NavBar
3. Hero Section
4. About Me Section
5. Why Choose Me





*/
/***************************
*********The Fonts Used*****
***************************/
body {
  margin: 0;
  padding: 0;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0;
}

h3 {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 1.5em;
}

table {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
}

header.navbar {
  position: absolute;
  width: 100%;
}

header.navbar nav {
  width: 80%;
  margin: 0 auto;
  color: #41444B;
  font-size: 1.8em;
  font-family: 'Oswald', sans-serif;
}

header.navbar nav ul {
  right: 50px;
  padding-left: 30%;
  list-style-type: none;
  display: inline-block;
}

header.navbar nav ul .active {
  color: black;
}

header.navbar nav ul li {
  padding-left: 100px;
  color: #757575;
  font-size: 0.8em;
  font-family: 'Roboto Slab', serif;
  display: inline-block;
}

section.hero {
  background-color: #F6F4E6;
  height: 100vh;
}

section.hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
  margin: 0 auto;
}

section.hero .hero-content main {
  width: 70%;
  padding-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 0 0 100px;
}

section.hero .hero-content main * {
  max-width: 60%;
}

section.hero .hero-content main h1 {
  font-size: 9em;
}

section.hero .hero-content main h3 {
  font-size: 2.5em;
  font-family: 'Roboto Slab', serif;
}

section.hero .hero-content main button {
  border: none;
  background-color: #FDDB3A;
  color: #41444B;
  padding: 20px 40px;
  border-radius: 50px;
  font-size: 1.7em;
}

section.hero .hero-content aside {
  padding-top: 100px;
  width: 30%;
}

section.hero .hero-content aside img {
  margin-top: 30%;
  height: 70%;
}

section.about-me {
  height: 100vh;
  background-color: #fddb3a38;
}

section.about-me .about-me-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

section.about-me .about-me-content main {
  width: 50%;
  padding-top: 10%;
}

section.about-me .about-me-content main .text-about-me h1 {
  font-size: 7em;
}

section.about-me .about-me-content main .contact h3 {
  font-family: 'Roboto Slab', serif;
}

section.about-me .about-me-content main .contact ul {
  list-style-type: none;
  display: inline-block;
}

section.about-me .about-me-content main .contact ul li {
  display: inline-block;
}

section.about-me .about-me-content main .contact ul li figcaption {
  font-family: 'Noto Sans HK', sans-serif;
}

section.about-me .about-me-content main .contact ul li img {
  height: 50px;
  width: 50px;
}

section.about-me .about-me-content aside {
  margin-top: 15%;
  width: 50%;
}

section.about-me .about-me-content aside img {
  width: 100%;
}

section.why-choose-me {
  background-color: #F6F4E6;
  height: 100vh;
}

section.why-choose-me h1 {
  font-size: 7em;
  text-align: center;
  margin-top: 0px;
  padding-top: 60px;
  margin-bottom: 100px;
}

section.why-choose-me .why-choose-me-content {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "... ... ..." "... ... ...";
  gap: 70px 70px;
}

section.why-choose-me .why-choose-me-content .item {
  height: 100%;
  width: 100%;
  text-align: center;
}

section.why-choose-me .why-choose-me-content .item img {
  width: 30%;
}

section.why-choose-me .why-choose-me-content .item h3 {
  font-size: 2em;
}

section.why-choose-me .why-choose-me-content .item p {
  font-size: 1em;
}
/*# sourceMappingURL=style.css.map */