/* 
0. Fonts Used
1. General Css
2. NavBar
3. Hero Section
4. About Me Section
5. Why Choose Me





*/

/***************************
*********The Fonts Used*****
***************************/


// font-family: 'Noto Sans HK', sans-serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Roboto Slab', serif;


/////////////////////////////////////
//////1. The General Css///////////////
///////////////////////////////////
body {
    margin: 0;
    padding: 0;
    position: relative;

}
a {
    text-decoration: none;
    color: inherit;    
}
h1 {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0;
}
h3 {
    font-family: 'Roboto Slab', serif;
}
p {
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 1.5em;

}
table {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
}
button {
    transition: box-shadow 0.7s;
    transition-timing-function: ease-in-out;
}
button:focus {
    outline: none;

}
button:hover {
    box-shadow:
    0 2.2px 2.5px -21px rgba(0, 0, 0, 0.021),
    0 4.8px 5.5px -21px rgba(0, 0, 0, 0.031),
    0 8.1px 9.3px -21px rgba(0, 0, 0, 0.038),
    0 12.2px 14px -21px rgba(0, 0, 0, 0.044),
    0 17.5px 20.2px -21px rgba(0, 0, 0, 0.05),
    0 24.8px 28.5px -21px rgba(0, 0, 0, 0.056),
    0 35.2px 40.5px -21px rgba(0, 0, 0, 0.062),
    0 51.1px 58.8px -21px rgba(0, 0, 0, 0.069),
    0 78.8px 90.6px -21px rgba(0, 0, 0, 0.079),
    0 140px 161px -21px rgba(0, 0, 0, 0.1)
  ;
}
.title {
    font-size: 7em;
    text-align: center;
    margin-top: 0px;
    padding-top: 60px;
    margin-bottom: 100px;
}
.container {
    width: 80%;
    margin: auto;
}
label {
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 1em;
}
input, textarea {
    width: 80%;
    padding:10px;
    border-radius: 20px;
    color: black;
    border: none;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 1em;
    background-color: #FDDB3A;
    &:focus {
        outline: none;
    }
}
#not-robot {
    height: 25px;
    width: 25px;
}
/////////////////////////////////////
//////2. NavBar/////////////////////
///////////////////////////////////
header.navbar {
    position: absolute;
    width: 100%;
    nav {
        color:#41444B;
        font-size: 1.8em;
        font-family: 'Oswald', sans-serif;
        ul {
            right: 50px;
            padding-left: 30%;
            list-style-type: none;
            display: inline-block;
            .active{
                color: black;
            }
            li {
                padding-left: 100px;
                color: #757575;
                font-size: 0.8em;
                font-family: 'Roboto Slab', serif;
                display: inline-block;
            }
        }
    }
}
/////////////////////////////////////
//////3. Hero Section///////////////
///////////////////////////////////
section.hero{
    background-color: #F6F4E6;
    height: 100%;
    .hero-content {
        display: flex;
        width: 90%;
        margin: 0 auto;

        main {
            width: 70%;
            padding-top: 100px;
            align-items: center;
            margin: 100px 0 0 100px;
            *{
                max-width: 60%;
            }
            h1 {
                font-size: 9em;
            }
            h3 {
                font-size: 2.5em;
                font-family: 'Roboto Slab', serif;
            }

            button {
                border: none;
                background-color: #FDDB3A;
                color: #41444B;
                padding: 20px 40px;
                border-radius: 50px;
                font-size: 1.7em;


            }

        }
        aside {
            padding-top: 100px;
            width: 30%;
            img {
                margin-top: 30%;
                height: 70%;
            }
        }
    }
}
/////////////////////////////////////
//////4. About Me Section///////////
///////////////////////////////////
section.about-me {
    height: 100%;
    background-color: #fddb3a38;
    padding-bottom: 10%;
    .about-me-content {
        display: flex;
        flex-direction: row-reverse;
        main {
            width: 50%;
            padding-top: 10%;
            .text-about-me {
                h1 {
                    font-size: 7em;
                }
            }
            .contact {
                h3 {
                    font-family: 'Roboto Slab', serif;
                }
                ul {
                    list-style-type: none;
                    display: inline-block;
                    li {
                        display: inline-block;
                        figcaption {
                            font-family: 'Noto Sans HK', sans-serif;
                        }
                        img {
                            height: 50px;
                            width: 50px;
                        }
                    }
                }
            }
        }
        aside {
            margin-top: 15%;
            width: 50%;
            img {
                width: 100%;
            }
        }
    }
}

/////////////////////////////////////
//////5. Why choose Me//////////////
///////////////////////////////////

section.why-choose-me {
    background-color: #F6F4E6;
    height: 100%;
    padding-bottom: 10%;
    .why-choose-me-content {
        display: grid;
        grid-template-areas: "... ... ..." "... ... ...";
        .item {
            height: 80%;
            width: 80%;
            padding: 10%;
            text-align: center;
            &:hover {
                background-color: #fddb3a38;
            }

            img {
                width: 30%;
            }
            h3 {
                font-size: 2em;
                
            }
            p {
                font-size: 1em;
            }
        }
    }

}

/////////////////////////////////////
//////5. Recent Works///////////////
///////////////////////////////////

section.recent-work {
    height: 100%;
    padding-bottom: 20%;
    background-color: #fddb3a38;
    .recent-work-content {
        position: relative;
        display: grid;
        grid-template-areas: "item-1 item-3" "item-2 item-3";
        .item-1 {
            grid-area: item-1;
            img {
                width: 57%;
                transform: translate(257px, 0px);
            }
        }
        .item-2 {
            grid-area: item-2;
            img {
                width: 70%;
                transform: translate(317px, 192px);
                z-index: 67;
                position: relative;
            }
        }
        .item-3 {
            grid-area: item-3;
            img {
                width: 100%;
                transform: translate(-169px, 56px);
            }
        }
        button {
            position: absolute;
            border: none;
            background-color: #FDDB3A;
            color: #41444B;
            padding: 20px 40px;
            border-radius: 50px;
            font-size: 1.7em;
            bottom: -10%;
            right: 21%;
        }
    }

}

/////////////////////////////////////
//////6. Contact Me/////////////////
///////////////////////////////////

section.contact-me {
    height: 100%;
    background-color: #F6F4E6;
    .contact-me-content {
        display: flex;
        main {
            width: 50%;
            form {
                div {
                    * {
                        display: block;
                    }
                }
                .fname {
                    display: inline-block;
                    width: 44%;
                }
                .email {
                    input {
                        color: black;
                    }
                }
                .not-robot {
                    * {
                        display: inline-block;
                    }
                }
                .not-robot, .submit {
                    display: inline-block;
                }
                .submit {
                    width: 30%;
                    padding-left: 5%;
                }
            }
        }
        // .aside {

        // }
    }
}

footer {
    text-align: center;
    padding: 30px;
    background-color:#FDDB3A;
}