/* 
0. Fonts Used
1. General Css
2. NavBar
3. Hero Section
4. About Me Section
5. Why Choose Me





*/
/***************************
*********The Fonts Used*****
***************************/
body {
  margin: 0;
  padding: 0;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0;
}

h3 {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 1.5em;
}

table {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
}

button {
  -webkit-transition: -webkit-box-shadow 0.7s;
  transition: -webkit-box-shadow 0.7s;
  transition: box-shadow 0.7s;
  transition: box-shadow 0.7s, -webkit-box-shadow 0.7s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

button:focus {
  outline: none;
}

button:hover {
  -webkit-box-shadow: 0 2.2px 2.5px -21px rgba(0, 0, 0, 0.021), 0 4.8px 5.5px -21px rgba(0, 0, 0, 0.031), 0 8.1px 9.3px -21px rgba(0, 0, 0, 0.038), 0 12.2px 14px -21px rgba(0, 0, 0, 0.044), 0 17.5px 20.2px -21px rgba(0, 0, 0, 0.05), 0 24.8px 28.5px -21px rgba(0, 0, 0, 0.056), 0 35.2px 40.5px -21px rgba(0, 0, 0, 0.062), 0 51.1px 58.8px -21px rgba(0, 0, 0, 0.069), 0 78.8px 90.6px -21px rgba(0, 0, 0, 0.079), 0 140px 161px -21px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2.2px 2.5px -21px rgba(0, 0, 0, 0.021), 0 4.8px 5.5px -21px rgba(0, 0, 0, 0.031), 0 8.1px 9.3px -21px rgba(0, 0, 0, 0.038), 0 12.2px 14px -21px rgba(0, 0, 0, 0.044), 0 17.5px 20.2px -21px rgba(0, 0, 0, 0.05), 0 24.8px 28.5px -21px rgba(0, 0, 0, 0.056), 0 35.2px 40.5px -21px rgba(0, 0, 0, 0.062), 0 51.1px 58.8px -21px rgba(0, 0, 0, 0.069), 0 78.8px 90.6px -21px rgba(0, 0, 0, 0.079), 0 140px 161px -21px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 7em;
  text-align: center;
  margin-top: 0px;
  padding-top: 60px;
  margin-bottom: 100px;
}

.container {
  width: 80%;
  margin: auto;
}

label {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 1em;
}

input, textarea {
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  color: black;
  border: none;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 1em;
  background-color: #FDDB3A;
}

input:focus, textarea:focus {
  outline: none;
}

#not-robot {
  height: 25px;
  width: 25px;
}

header.navbar {
  position: absolute;
  width: 100%;
}

header.navbar nav {
  color: #41444B;
  font-size: 1.8em;
  font-family: 'Oswald', sans-serif;
}

header.navbar nav ul {
  right: 50px;
  padding-left: 30%;
  list-style-type: none;
  display: inline-block;
}

header.navbar nav ul .active {
  color: black;
}

header.navbar nav ul li {
  padding-left: 100px;
  color: #757575;
  font-size: 0.8em;
  font-family: 'Roboto Slab', serif;
  display: inline-block;
}

section.hero {
  background-color: #F6F4E6;
  height: 100%;
}

section.hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

section.hero .hero-content main {
  width: 70%;
  padding-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 0 0 100px;
}

section.hero .hero-content main * {
  max-width: 60%;
}

section.hero .hero-content main h1 {
  font-size: 9em;
}

section.hero .hero-content main h3 {
  font-size: 2.5em;
  font-family: 'Roboto Slab', serif;
}

section.hero .hero-content main button {
  border: none;
  background-color: #FDDB3A;
  color: #41444B;
  padding: 20px 40px;
  border-radius: 50px;
  font-size: 1.7em;
}

section.hero .hero-content aside {
  padding-top: 100px;
  width: 30%;
}

section.hero .hero-content aside img {
  margin-top: 30%;
  height: 70%;
}

section.about-me {
  height: 100%;
  background-color: #fddb3a38;
  padding-bottom: 10%;
}

section.about-me .about-me-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

section.about-me .about-me-content main {
  width: 50%;
  padding-top: 10%;
}

section.about-me .about-me-content main .text-about-me h1 {
  font-size: 7em;
}

section.about-me .about-me-content main .contact h3 {
  font-family: 'Roboto Slab', serif;
}

section.about-me .about-me-content main .contact ul {
  list-style-type: none;
  display: inline-block;
}

section.about-me .about-me-content main .contact ul li {
  display: inline-block;
}

section.about-me .about-me-content main .contact ul li figcaption {
  font-family: 'Noto Sans HK', sans-serif;
}

section.about-me .about-me-content main .contact ul li img {
  height: 50px;
  width: 50px;
}

section.about-me .about-me-content aside {
  margin-top: 15%;
  width: 50%;
}

section.about-me .about-me-content aside img {
  width: 100%;
}

section.why-choose-me {
  background-color: #F6F4E6;
  height: 100%;
  padding-bottom: 10%;
}

section.why-choose-me .why-choose-me-content {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "... ... ..." "... ... ...";
}

section.why-choose-me .why-choose-me-content .item {
  height: 80%;
  width: 80%;
  padding: 10%;
  text-align: center;
}

section.why-choose-me .why-choose-me-content .item:hover {
  background-color: #fddb3a38;
}

section.why-choose-me .why-choose-me-content .item img {
  width: 30%;
}

section.why-choose-me .why-choose-me-content .item h3 {
  font-size: 2em;
}

section.why-choose-me .why-choose-me-content .item p {
  font-size: 1em;
}

section.recent-work {
  height: 100%;
  padding-bottom: 20%;
  background-color: #fddb3a38;
}

section.recent-work .recent-work-content {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "item-1 item-3" "item-2 item-3";
}

section.recent-work .recent-work-content .item-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item-1;
}

section.recent-work .recent-work-content .item-1 img {
  width: 57%;
  -webkit-transform: translate(257px, 0px);
          transform: translate(257px, 0px);
}

section.recent-work .recent-work-content .item-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item-2;
}

section.recent-work .recent-work-content .item-2 img {
  width: 70%;
  -webkit-transform: translate(317px, 192px);
          transform: translate(317px, 192px);
  z-index: 67;
  position: relative;
}

section.recent-work .recent-work-content .item-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: item-3;
}

section.recent-work .recent-work-content .item-3 img {
  width: 100%;
  -webkit-transform: translate(-169px, 56px);
          transform: translate(-169px, 56px);
}

section.recent-work .recent-work-content button {
  position: absolute;
  border: none;
  background-color: #FDDB3A;
  color: #41444B;
  padding: 20px 40px;
  border-radius: 50px;
  font-size: 1.7em;
  bottom: -10%;
  right: 21%;
}

section.contact-me {
  height: 100%;
  background-color: #F6F4E6;
}

section.contact-me .contact-me-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.contact-me .contact-me-content main {
  width: 50%;
}

section.contact-me .contact-me-content main form div * {
  display: block;
}

section.contact-me .contact-me-content main form .fname {
  display: inline-block;
  width: 44%;
}

section.contact-me .contact-me-content main form .email input {
  color: black;
}

section.contact-me .contact-me-content main form .not-robot * {
  display: inline-block;
}

section.contact-me .contact-me-content main form .not-robot, section.contact-me .contact-me-content main form .submit {
  display: inline-block;
}

section.contact-me .contact-me-content main form .submit {
  width: 30%;
  padding-left: 5%;
}

footer {
  text-align: center;
  padding: 30px;
  background-color: #FDDB3A;
}
/*# sourceMappingURL=style.css.map */